@component('components/layouts/app')
@slot('main')
<h1>Créer une salle de stockage</h1>


@if(flashMessages.get('error'))
<p style="color:red">
    {{ flashMessages.get('error') }}
</p>
@endif

<form method="POST" action="/room/submit_add">
    {{ csrfField() }}

    <div>
        <label for="room_name">Nom: </label>
        <input id="room_name" type="text" name="room_name" />
    </div>

    <button type="submit">Enregistrer</button>
</form>


@endslot
@endcomponent