@component('components/layouts/app')
@slot('main')


    <h1>Edit {{cate.name}}</h1>
    <form method="POST" action="/category/{{ cate.id }}/submit_edit?_method=PUT">
    {{ csrfField() }}
    


      <div>
        <label for="cate_name">Nom: </label>
        <input id="cate_name" type="text" name="cate_name" value="{{cate.name}}"/>
      </div>

      <button type="submit">Enregistrer</button>
    </form>

@endslot
@endcomponent