/*
fichier css de base 
Version: 1.0.0
Author: Dimitrios Lymberis
*/


/****************************************************************************
Nom:	Module Search
But:	Partie de styles CSS de la page de recherche
*****************************************************************************
/*Champ de recherche*/
#search_article{
    height: 80px;
    font-size: 30px;
    width: 100%;
    margin-top: 5px;
    box-shadow: none;
    /*
    border-bottom-color: coral;
    border-top:none;
    border-left:none;
    border-right:none;
    background: transparent;
    */
    resize: none;
    line-height: 100px;  
    text-transform: uppercase;
  }

  #HeadSearch em{
    color: #897d71;
  }

/* changement du pointeur de la souris sur uen ligne dans la datatable search */
#datatable-all-search_articles tbody tr {
    cursor: pointer;
  }  

  /* rendre pas visible l'input et le label de  recherche  */
  #datatable-all-search_articles_filter input,
  #datatable-all-search_articles_filter label {
    display: none !important;
  }  

/* remplacement par défaut du style pour mettre en évidence une ligne lorsque la souris est survolée dans les datatable */
.table-hover > tbody > tr:hover > td, 
.table-hover > tbody > tr:hover > th {
	background: #f2f896 !important;
}

  /* la rgeur du nombre de ligne pour les datatables --> ne s'adapte pas avec le Tous !! */
div.dataTables_length select  {
width: 65px !important;
}

/* pour la dimension des image dans la liste des produit (gestion entités) */
.lstProductImage {
    width: 60px;
    height: 50px;
}

.lstProductFilter{
	background: #ffffff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAABkElEQVR42mNoaGhgoASDiejoaHdbW9tWOzu7RhCND8PUxMbGusIN0NXVXcjAwPCfFGxoaDgbbkBqaqqNj49Ppq+vb3xAQEAmkJ0NxKlAnIaOgWqSQWrT0tKs4AY4ODgoiImJHZKTk5sE4ouLiy+VlJS8CKTPAPF5KL4AxGelpKQuANXud3Z2VgIb0NHRwQxiMDExhUOd1w7E+vicD1QbCdLT1NTEBHYB0BAmEM3FxZUEUsDGxhYsLy9vBWS/ZWRk/A2kfwM1/QLS/zg5OZOQ9cCjo729HewSDg6OBmZm5j9KSkqLgRpegTQB8U+QwUC5WqhaJpRoRDIELAG0ZRqSk/+AaKDrpqBrxjAAqoAxOzublZeXdxXU9v/c3NzrgGJsIDmsCQkZV1dXs4DoyMhIV6gB/0BsZDm8BtTW1oLDIioqyhsYgCDn/wWyfZDl8BpQU1MDtiUiIsIfGmX/gQZ4Em0AUBHYn/Hx8SICAgIzgIZ8CwsL80c2HK8B6BiYcayAAagMYtfV1TGSZABQAzMhCwAZSkwRmMS0lAAAAABJRU5ErkJggg==') no-repeat scroll 3px center;
	padding-left : 22px;
}



/*pour la form de connection */
#frm-login:before {
    content: "";
    position: absolute;
    top: -16px;
    right: 30px;
    border: 8px solid transparent;
    border-bottom: 8px solid white;
}

#contenu{
    font-size:10px;
    text-align:center;
    height:20px;
    display: table;
    width: 20px;
    }
    #contenu span {
    /* Aligne le texte verticalement au milieu */
    vertical-align:middle;
    display: table-cell;
    border-radius: 50%;
        background: #28a745;
        transform:translate(70%,-170%);
    
    }


.notifications {
    width:30px;
    height:30px;
    /* background:#fff; */
    border-radius:30px;
    box-sizing:border-box;
    text-align:center;
    box-shadow:0 2px 5px rgba(0,0,0,.2);
}

.notifications .fa {
    color:#cecece;
    line-height:30px;
    font-size:20px;
}


.user-pic {
    float: left;
    width: 50px;
    padding: 2px;
    border-radius: 12px;
    margin-right: 10px;
    overflow: hidden;
  }

  .user-pic img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .user-id {
    font-size: 14px;
  }
    
  .user-name {
    font-size: 12px;
  }




/* modification du css de base du template */
.modal-header {
    border-bottom-width: medium;
    border-bottom-color: #f4a941;
}

.modal-footer {
    border-top-width: medium;
    border-top-color: #f4a941;
}



#box_article:hover,
#box_article:focus{
    position: relative;
    background-color: #fff59e;
}

/* pour avoir le curseur sur le passage photo */
label.cabinet {
    display: block;
    cursor: pointer;
}

/* bouton de type rectangle arrrondi */
.btn-square, .btn.btn-square {
    border-radius: 10px;
}

/* --------------------------------------------------
   pour les flip card dans la index du module search
   https://bootsnipp.com/snippets/8Mz1K
---------------------------------------------------- */

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 10px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
    width:300px;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside .card,
.backside .card {
    min-height: 355px;
    max-height:355px;
    overflow:auto;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.backside .card p {
    font-size: 14px;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 360px;
    height: 120px;
    /* border-radius: 50%; */
}

/* -----------------FIN ----------------------------
   pour les flip card dans la index du module search
---------------------------------------------------- */

.jumbotron {
    padding: 1rem 1rem;
    /* margin-bottom: 1rem; */
    background-color: #e9ecef;
    border-radius: .3rem;
    margin-bottom: 0px !important;
}

/* --------------------------------------------------
     reconnaissance font - police ETML
---------------------------------------------------- */
@font-face {
    font-family: "Etml";
    src: url('../font/ETML.ttf') format('truetype');
  }


.font_etml {
    font-family: 'Etml';
    font-size: 12px;
}
/* -----------------FIN ----------------------------
     reconnaissance font - police ETML
---------------------------------------------------- */

.article {
    display: table;
    float: left;
    padding: 15px;
    width: 50%;
    font-size: 12px;
    cursor: pointer;
}

.image-not-found {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 80px;
    font-size: 36px;
    text-align: center;
}


.shadow-card {
    box-shadow: 0px 0px 1px black;
}

.bg-gradient-secondary {
    background-image: -webkit-linear-gradient(135deg, #B0BEC5 0, #78909C 100%);
/* Chrome 10-25, Safari 5.1-6 */
background-image: linear-gradient(135deg, #B0BEC5 0, #78909C 100%);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.bg-gradient-primary {
background-image: -webkit-linear-gradient(135deg, #673AB7 0, #2196F3 100%);
/* Chrome 10-25, Safari 5.1-6 */
background-image: linear-gradient(135deg, #673AB7 0, #2196F3 100%);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.bg-gradient-info {
background-image: -webkit-linear-gradient(135deg, #009688 0, #42A5F5 100%);
/* Chrome 10-25, Safari 5.1-6 */
background-image: linear-gradient(135deg, #009688 0, #42A5F5 100%);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.bg-gradient-success {
background-image: -webkit-linear-gradient(135deg, #CDDC39 0, #4CAF50 100%);
/* Chrome 10-25, Safari 5.1-6 */
background-image: linear-gradient(135deg, #CDDC39 0, #4CAF50 100%);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.bg-gradient-danger {
background-image: -webkit-linear-gradient(135deg, #7B1FA2 0, #F44336 100%);
/* Chrome 10-25, Safari 5.1-6 */
background-image: linear-gradient(135deg, #7B1FA2 0, #F44336 100%);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.bg-gradient-warning {
background-image: -webkit-linear-gradient(135deg, #FDD835 0, #FF9800 100%);
/* Chrome 10-25, Safari 5.1-6 */
/* background-image: linear-gradient(135deg, #FDD835 0, #FF9800 100%); */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
  

/*  SweetAlert for Bootstrap */
.swal-title {
    margin: 0px;
    font-size: 18px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
    margin-bottom: 28px;
  }

.swal-text {
    background-color: #FEFAE3;
    padding: 17px;
    border: 1px solid #F0E1A1;
    display: block;
    margin: 22px;
    text-align: center;
    color: #61534e;
  }

 

